@media only screen and (min-width: 500px) {
  body {
    width: 500px;
  }
}

body {
  padding: 5px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a.pure-button {
  margin: 5px;
}

.centered {
  text-align: center;
}

.right-buttons a {
  margin-right: 10px;
}

input, select {
  margin-top: 5px;
  margin-bottom: 10px;
}

div#login {
  padding: 5px 5px 5px 10px;
  background-color: #eeeeff;
}

div#login div {
  font-size: 14px;
}

div#login a.pure-button {
  margin: 0px 5px 0px 5px;
}

div#login input, div#login select {
  font-size: 14px;
  margin: 2.7px 10px 2.7px 5px;
}

span.centered {
  line-height: 50%;
  vertical-align: middle;
}

span.success, td.success {
  color: green;
  font-weight: bold;
}

span.failure, td.failure {
  color: red;
  font-weight: bold;
}

#roll_log_header {
  font-size: 14px;
  background-color: #c0c0ff;
  padding: 2px;
}

#roll_log {
  font-size: 12px;
  font-family: monospace;
  overflow-y: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#roll_log span.log_row {
  display: block;
  padding: 0px 5px 0px 5px;
  margin-bottom: 1.5px;
  line-height: 16px;
}

#roll_log span.log_row:hover, #roll_log span.log_row:nth-child(odd):hover {
  cursor: pointer;
  background-color: #e9ffe9;
}

#roll_log span.log_row.selected, #roll_log span.log_row.selected:nth-child(odd) {
  background-color: #efef99;
}

#roll_log span.log_row:nth-child(odd) {
  background-color: #e9e9e9;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  font-size: 12px;
  left: 0;
  top: 0;
  width: 100%;
}

#log_detail {
  background-color: #e3e37b;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 5px;
  border: 1px solid #444;
}

#log_detail table {
  font-size: 12px;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

#log_detail table tr {
  width: 100%;
}

#log_detail table tr td {
  padding: 2.5px 5px;
  width: 166px;
}

#log_detail table tr td#timestamp {
  width: 100%;
}

#log_detail table tr td.hd {
  font-weight: bold;
  width: 65px;
}

#log_detail table tr td.hd2 {
  font-weight: bold;
  width: 48px;
}

#log_detail table tr td#log_close {
  cursor: pointer;
  color: red;
  width: 10px;
  padding: 2.5px 6px;
  font-size: 10px;
  font-weight: bold;
}

.alert {
  background-color: red;
}

.fade {
  transition: background-color 1s linear; 
 -moz-transition: background-color 1s linear;  
 -webkit-transition: background-color 1s linear; 
 -ms-transition: background-color 1s linear;
}
