@media only screen and (min-width: 500px) {
  body {
    width: 500px;
  }
}

body {
  padding: 5px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a.pure-button {
  margin: 5px;
}

.centered {
  text-align: center;
}

.right-buttons a {
  margin-right: 10px;
}

input[type="text"] {
  margin-top: 5px;
  margin-bottom: 10px;
}

span.centered {
  line-height: 50%;
  vertical-align: middle;
}
